.navbar-default{
	background-color: white;
}
body{
	background-color: #FBFBFB;
}
.navbar-default .navbar-brand{
	font-size: 24px;
}
h4{
	margin-bottom: 5px;
}
.alert-danger{
	background-color: #f3ecec;
}
hr{
	margin-top: 0;
}
@media ( min-width: 768px ) {
	#banner {
		min-height: 300px;
		border-bottom: none;
	}
}

.bs-component {
	position: relative;
}
.bs-component .modal {
	position: relative;
	top: auto;
	right: auto;
	left: auto;
	bottom: auto;
	z-index: 1;
	display: block;
}
.bs-component .modal-dialog {
	width: 60%;
}